PORT=4000
NODE_ENV=development
DATABASE_URL=postgresql://user:password@localhost:5432/repeatsms
JWT_SECRET=your_jwt_secret_here
TOKEN_NAME_SALT=your_salt_here
CLIENT_URL=http://localhost:3000
PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=
SOCKS_5_PROXY_API_URL=
SHKEEPER_URL=
SHKEEPER_CALLBACK_SECRET=